// Ejemplo de iniciar de variables de entorno segun el dev
API_URL= "url del backend" 

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_UPLOAD_PRESET=proyecto_fotos_unsigned
CLOUDINARY_FOLDER=aqui_van/las_fotos
